<div class="page page-form-validate">

    <!-- page header -->
    <div class="pageheader">

        <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="administrator.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">Manage School</a>
                </li>
                <li>
                    <a ui-sref="administrator.manageSchool.addSchool">{{page.title}}</a>
                </li>
            </ul>

            <div ng-controller="DaterangepickerCtrl" class="page-toolbar">
                <a href="javascript:;" class="btn btn-lightred no-border">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{today}}</span>&nbsp;&nbsp;
                </a>
            </div>

        </div>

    </div>
    <!-- /page header -->

    <!-- page content -->
    <div class="pagecontent">

        <!-- row -->
        <div class="row">

            <!-- col -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <form name="editSchoolForm" class="form-horizontal" ng-submit="submitForm(editSchoolForm.$valid)" role="form" novalidate>

                    <!-- tile -->
                    <section class="tile" fullscreen="isFullscreen01">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><strong>Edit</strong> School: {{user.schoolName}}</h1>
                            <ul class="controls">
                                <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                                    <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                        <li>
                                            <a href tile-control-toggle>
                                                <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href tile-control-refresh ng-click="ajaxFaker()">
                                                <fa name="refresh"></fa> Refresh
                                            </a>
                                        </li>
                                        <li>
                                            <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                                                <fa name="expand"></fa> Fullscreen
                                            </a>
                                        </li>
                                        <li>
                                            <a href tile-control-lightbox>
                                                <fa name="magnet"></fa> Open in Lightbox
                                            </a>
                                        </li>

                                    </ul>

                                </li>
                            </ul>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body form-validation row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="text-muted">Submit button will be enabled after completing form.</p>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="alert alert-success">
                                        <ul>
                                            <li>School Detail</li>
                                        </ul>
                                    </div>
									<div class="pull-left thumb">
				                      <img class="media-object img-circle" src="assets/images/school/{{user.schoolLogo}}" alt="">
				                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Upload Logo:</label>
                                        <div class="col-sm-9">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input id="logo" name="logo" ui-jq="filestyle" type="file" class="filestyle" ui-options="{
			            							buttonText: 'Select file',iconName: 'fa fa-inbox'}" nv-file-select="{ alias: 'logo' }" uploader="uploaderLogo" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                  <!--   <div class="form-group">
                                        <label class="col-sm-3 control-label">Upload Banner:</label>
                                        <div class="col-sm-9">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input id="banner" name="banner" type="file" class="filestyle" ui-jq="filestyle" 
                                                    ui-options="{buttonText: 'Select file',iconName: 'fa fa-inbox'}" nv-file-select="{ alias: 'banner' }" uploader="uploaderBanner" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" />
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schoolname.$invalid && !editSchoolForm.schoolname.$pristine, 'has-success' : editSchoolForm.schoolname.$valid && !editSchoolForm.schoolname.$pristine}">
                                        <label class="col-sm-3 control-label">School Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="schoolname" id="schoolname" placeholder="Xyz Public School" class="form-control" ng-model="user.schoolName" ng-minlength="3" ng-maxlength="50" required>
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schoolname.$invalid && !editSchoolForm.schoolname.$pristine">School Name is required.</span>
                                                <span ng-show="editSchoolForm.schoolname.$error.minlength">School Name is too short.</span>
                                                <span ng-show="editSchoolForm.schoolname.$error.maxlength">School Name is too long.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schooladdress.$invalid && !editSchoolForm.schooladdress.$pristine || editSchoolForm.schooladdress.$invalid && submitted, 'has-success' : editSchoolForm.schooladdress.$valid && !editSchoolForm.schooladdress.$pristine || editSchoolForm.schooladdress.$valid && submitted}">
                                        <label class="col-sm-3 control-label">Address:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="schooladdress" id="schooladdress" placeholder="Type School Address" class="form-control" ng-model="user.schoolAddress" googleplace on-blur-validation>
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schooladdress.$invalid && !editSchoolForm.schooladdress.$pristine || editSchoolForm.schooladdress.$invalid && submitted">School address is required.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schoolcontactperson.$invalid && !editSchoolForm.schoolcontactperson.$pristine, 'has-success' : editSchoolForm.schoolcontactperson.$valid && !editSchoolForm.schoolcontactperson.$pristine}">
                                        <label class="col-sm-3 control-label">Contact Person:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="schoolcontactperson" id="schoolcontactperson" placeholder="Ramesh" class="form-control" ng-model="user.schoolContactPerson" ng-minlength="2" ng-maxlength="50" required>
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schoolcontactperson.$invalid && !editSchoolForm.schoolname.$pristine">Contact Person Name is required.</span>
                                                <span ng-show="editSchoolForm.schoolcontactperson.$error.minlength">Contact Person Name is too short.</span>
                                                <span ng-show="editSchoolForm.schoolcontactperson.$error.maxlength">Contact Person Name is too long.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schoolemail.$invalid && !editSchoolForm.schoolemail.$pristine, 'has-success' : editSchoolForm.schoolemail.$valid && !editSchoolForm.schoolemail.$pristine}">
                                        <label class="col-sm-3 control-label">Email Address:</label>
                                        <div class="col-sm-9">
                                            <input type="email" name="schoolemail" id="schoolemail" placeholder="xyz@school.com" class="form-control" ng-model="user.schoolEmail" required>
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schoolemail.$invalid && !editSchoolForm.schoolemail.$pristine">Email is required.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schoolphone.$invalid && !editSchoolForm.schoolphone.$pristine, 'has-success' : editSchoolForm.schoolphone.$valid && !editSchoolForm.schoolphone.$pristine}">
                                        <label class="col-sm-3 control-label">Phone No.:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="schoolphone" id="schoolphone" name="fc18" class="form-control" placeholder="1234567890" ng-model="user.mobileNumber" ng-pattern="/\d{10}/" required>
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schoolphone.$invalid && !editSchoolForm.schoolphone.$pristine">Phone Number is required. Please match pattern [1234567890]</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schoolurl.$invalid && !editSchoolForm.schoolurl.$pristine, 'has-success' : editSchoolForm.schoolurl.$valid && !editSchoolForm.schoolurl.$pristine}">
                                        <label class="col-sm-3 control-label">School URL:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="schoolurl" id="schoolurl" name="fc18" class="form-control" placeholder="dps" ng-model="user.url" required>
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schoolurl.$invalid && !editSchoolForm.schoolurl.$pristine">School URL is required.</span>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                    <div class="alert alert-success">
                                        <ul>
                                            <li>School Admin Detail</li>
                                        </ul>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schooladminname.$invalid && !editSchoolForm.schooladminname.$pristine, 'has-success' : editSchoolForm.schooladminname.$valid && !editSchoolForm.schooladminname.$pristine}">
                                        <label class="col-sm-3 control-label">Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text" disabled name="schooladminname" id="schooladminname" placeholder="Amit Kumar" class="form-control" ng-model="user.schoolAdmin.firstName" ng-minlength="3" ng-maxlength="50">
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schooladminname.$invalid && !editSchoolForm.schooladminname.$pristine">School Admin Name is required.</span>
                                                <span ng-show="editSchoolForm.schooladminname.$error.minlength">School Admin Name is too short.</span>
                                                <span ng-show="editSchoolForm.schooladminname.$error.maxlength">School Admin Name is too long.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schooladminemail.$invalid && !editSchoolForm.schooladminemail.$pristine, 'has-success' : editSchoolForm.schooladminemail.$valid && !editSchoolForm.schooladminemail.$pristine}">
                                        <label class="col-sm-3 control-label">Email Address:</label>
                                        <div class="col-sm-9">
                                            <input disabled type="email" name="schooladminemail" id="schooladminemail" placeholder="xyz@school.com" class="form-control" ng-model="user.schoolAdmin.email">
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schooladminemail.$invalid && !editSchoolForm.schooladminemail.$pristine">Admin Email is required.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : editSchoolForm.schooladminphone.$invalid && !editSchoolForm.schooladminphone.$pristine, 'has-success' : editSchoolForm.schooladminphone.$valid && !editSchoolForm.schooladminphone.$pristine}">
                                        <label class="col-sm-3 control-label">Phone No.:</label>
                                        <div class="col-sm-9">
                                            <input type="text" disabled name="schooladminphone" id="schooladminphone" class="form-control" placeholder="1234567890" ng-model="user.schoolAdmin.contact" ng-pattern="/\d{10}/" >
                                            <p class="help-block">
                                                <span ng-show="editSchoolForm.schooladminphone.$invalid && !editSchoolForm.schooladminphone.$pristine">Please match pattern [1234567890]</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Status</label>
                                        <div class="col-sm-9">
                                            <div class="btn-group" ng-controller="ButtonsCtrl">
                                                <label class="btn btn-default" ng-model="user.schoolActive" uib-btn-radio="false">Inactive</label>
                                                <label class="btn btn-default" ng-model="user.schoolActive" uib-btn-radio="true">Active</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /tile body -->
                            </div>
                        </div>
                        <!-- tile footer -->
                        <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                            <!-- SUBMIT BUTTON -->
                            <button type="submit" class="btn btn-success" ng-disabled="editSchoolForm.$invalid">Submit</button>
                        </div>
                        <!-- /tile footer -->

                    </section>
                    <!-- /tile -->

                </form>

            </div>
            <!-- /col -->

        </div>
        <!-- /row -->

    </div>
    <!-- /page content -->

</div>
<style>
    .checkbox-custom > i,
    .checkbox-custom-alt > i {
        border: 0px;
    }
</style>