<!-- ============================================
        =================== Content =====================
        ============================================= -->
<section id="content">

    <div class="content-wrap pb-0">

        <!-- ============ abt alma starts ============ -->
        <div class="container clearfix">

            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 text-center clearfix">
                <h1>About <span class="text-greensea"> Us</span></h1>
                <h4 class="abt_alma">Almanourisher was founded in 2016 with a vision to bridge the nutrition gap among children by empowering appropriate nourishment combined with regular physical activities. We bring in nutrition intervention by engaging and educating the families. We partner with Pre-schools/Schools and help them to structure the nutrition program, create intervention among parents and create a healthy school environment and healthy children.</h4>
                <!-- <a href="#" class="myBtn myBtn-3d myBtn-dark myBtn-lg ">More About Us</a> -->
                <!-- <a href="#" class="myBtn myBtn-3d myBtn-lg">Contact Us</a> -->
            </div>

            <!-- <div class="line"></div> -->
        </div>
        <!-- /abt alma ends-->
    </div>
</section>

<section id="content">

    <div class="content-wrap pb-0">

        <!-- ============ Features ============ -->
        <div class="container clearfix">

            <div class="row">
				<div class="-col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="feature-box no-icon" data-animate="fadeIn">
                        <div class="heading">
                            <h3 class="underline">Our <span class="text-theme">Purpose</span></h3>
                        </div>
                        <p>Through our nutrition program, we provide intervention among all the stakeholders that brings a fundamental knowledge on nutrition in children which enhances the nutrition and wellbeing of children.</p>
                        <p>India…. A country rich in heritage and traditional values, with a high population lacks in appropriate nutritive distribution especially amongst the growing children. Just as each child growth patterns vary, their nutritive requirements &amp; demands vary.</p>
                        <p>No wonder! Children today are exposed to a lot of temptation from lip-smacking but unhealthy food choices. Just feeding the kids is not enough but as parents, it is our duty to ensure they meet their nutrition adequacy. Their success at schools or on fields highly depends on how healthy they are.</p>
                        <p>Hence, Kids’ health is a BIG responsibility! As we know good nutrition is the key to:</p>
                        <p>
                            <ul>
                                <li>Create a future healthier generation.</li>
                                <li>Enable children accomplish their life goals…</li>
                            </ul>
                        </p>
                        <p>Therefore, we aim to educate families about nutrition and empower children to develop lifelong healthy eating habits with a fun approach. Our phases of service advocate good nutrition by incorporating nutrition intervention and building awareness.</p>
                        <p>Researches have shown that kids who eat healthy show signs of….</p>
                        <p>
                            <ul>
                                <li>Proper growth and development</li>
                                <li>Better immunity</li>
                                <li>Healthy weight</li>
                                <li>Improved vision and skin</li>
                                <li>Improved memory &amp; quick grasping</li>
                                <li>Sleep better</li>
                                <li>Reduced absenteeism in schools</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="feature-box no-icon" data-animate="fadeIn" data-delay="200">
                            <div class="heading">
                                <h3 class="underline">Why <span class="text-theme">Alma Nourisher?</span></h3>
                            </div>
                            <p>
                                <ul>
                                    <li>India’s First exclusive child Nutrition Consultancy Service Company by partnering with preschools/schools.</li>
                                    <li>Online &amp; Onsite Personalized care</li>
                                    <li>Quick connect with domain expertise for pediatric nutrition support</li>
                                    <li>Periodical tracking for child’s nutrition status and reports</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="feature-box no-icon" data-animate="fadeIn" data-delay="200">
                            <div class="heading">
                                <h3 class="underline">Our <span class="text-theme">Mission</span></h3>
                            </div>
                            <p>
                                <ul>
                                    <li>To bring implementable nutrition changes in day to day life that leads to improved wellbeing of children and society.</li>
                                    <li>To empower every child to make healthy food choice and emphasize a sense of well being.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="feature-box no-icon" data-animate="fadeIn" data-delay="400">
                            <div class="heading">
                                <h3 class="underline">Our <span class="text-theme">values</span></h3>
                            </div>
                            <p>
                                <ul>
                                    <liTeam work</li>
                                        <li>Efficiency to deliver the services</li>
                                        <li>Vustomer centric</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            </div>

        </div>
        <!-- /features -->

        <!-- ============ Our team starts  ============ -->
        <div class="section bg-light mb-0">
            <div class="container clearfix">

                <div class="heading-block center mb-60">
                    <h2 class="text-uppercase">Advisory Board Members</h2>
                </div>

                <div class="row">
                    <div class="-col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-3 mb-20">
                        <img src="assets/images/member/Nagaraja.jpg" alt="" class="img-responsive img-circle" data-animate="fadeInLeft">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <div class="heading-block color-divider mb-20">
                            <h4 class="mb-0 text-capital">Nagaraja or Naga Prakasam</h4>
                        </div>
                        <p>
                            Mr. Naga, currently residing in Bangalore, is a versatile and passionate leader with 2+ decades of global experience in angel investment. Naga holds a B.E. degree from Thiagarajar College of Engineering, India and an MBA degree from the San Diego/Kennesaw State University, United States.
                        </p>
                        <p>
                            He has invested in 16 start-ups and co-founded Indian Angel Network Impact. Nagaraja is a mentor-in-residence at NSRCEL, IIMB. He is a board member of Action for India, and mentor at CIIE, IIMA. He is also an advisor at,
                        </p>
                        <p>
                            Prakasam thus is a lover of environment and society and makes his professional choices accordingly.
                        </p>
                        <p>
                            His choice of investments and advisory roles in different firms shows his inclination toward social issues and health related concerns. Such an inclination has made him take up an advisory role in Alma Nourisher. Presently, he is a mentor for the organization, and helps materialize important ideas and programmes.
                        </p>
                    </div>
                </div>
                </div>

                <div class="line"></div>

                <div class="row">
                <div class="-col-lg-12 col-md-12 col-sm-12 col-xs-12">
				
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-3 mb-20">
                        <img src="assets/images/member/Srinivasan.jpg" alt="" class="img-responsive img-circle" data-animate="fadeInLeft">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                        <div class="heading-block color-divider mb-20">
                            <h4 class="mb-0 text-capital">T Srinivasan</h4>
                        </div>
                        <p>
                            Mr. Srinivasan T has an experience of over 32 years in the IT industry, and has handled several senior management positions there. Having been in the positions of country manager and Managing Director, he has an inventory of experience in both indigenous and global companies. At Vmware India, he was in charge of recruitment; where the team he led helped the business grow from almost scratch to being the 5th largest enterprise software company in the country (Gartner, 2014).
                        </p>
                        <p>
                            He is gifted with skills important for starting and scaling up Indian operations for Multinational and Indian corporations and to grow and build both business revenues and team sizes.
                        </p>
                        <p>
                            Srinivasan T likes to volunteer for causes involving children and science & technology. His love for children has made him take up the work of mentoring at Alma Nourisher. He helps the organization take all important moves and decisions, important for its growth and development
                        </p>
                    </div>
                </div>

                <div class="line"></div>

                <!--<div class="row">
                            <div class="col-md-2">
                                <img src="assets/images/avatars/random-avatar3.jpg" alt="" class="img-responsive img-circle" data-animate="fadeInLeft">
                            </div>
                            <div class="col-md-10">
								<div class="heading-block color-divider mb-20">
									<h4 class="mb-0 text-capital">Ms. Udaya Rajesh</h4>
								</div>
                                <p>
                                    Accomplished and resourceful professional educator with 10+ years of experience with proven expertise in teaching, supervision and program development. Developed an environment that fosters open communication with colleagues, students and the community.
                                </p>
                                <p>
                                    Mentored educators in the creation and implementation of class instruction, lesson plans, and student assessments in conjunction with state learning regulations. Demonstrated ability to establish meaningful partnerships with community education institutions.
                                </p>
                            </div>
                        </div> -->

            </div>
            </div>
			
        </div>
        <!-- /our team ends  -->

    </div>
</section>
<!-- #content end -->
<script type="text/javascript">
    $(document).ready(function() {

        // MINOVATE.documentOnReady.init();
        setTimeout(function() { // You might need this timeout to be sure its run after DOM render.
            console.log("in directive");
            MINOVATE.documentOnReady.init();
            //MINOVATE.documentOnLoad.init();
        }, 1000);
    });
</script>
<style>    
    #content {
        position: relative !important;
        overflow: hidden;
        background-color: #FFF;
        z-index: 9;
        top: 0 !important;
        right: 0;
        bottom: 0;
        width: auto;
        left: 0 !important;
        padding-left: 0;
        padding-top: 0;
        z-index: 1;
    }    
    #breadcrumbs.breadcrumbs-sm h1 + span {
        display: block !important;
    }    
    #main-navbar ul li.active a {
        color: #444;
    }    
    #main-navbar ul li.active_abt a {
        color: #428bca;
    }
</style>