<!-- ============================================
        =================== Content =====================
        ============================================= -->

<section id="content">

    <div class="content-wrap">

        <!-- ============ faq ============ -->
        <div class="container clearfix">

            <div class="heading-block mb-60">
                <h3 class="text-capitalize">Frequently asked questions</h3>

            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="tab-content">

                        <!-- START TAB 1 -->
                        <div class="tab-pane active text-justify">
                            <div class="panel-group">

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#" >
												1. What is School Nutrition Program?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            School Nutrition Program is designed to enhance and empower well-being of children due to tremendous changes seen in their lifestyle pattern. It focused on students of age group 2- 13 years. The essence of the program is to correct any nutrition deficiencies and provide nutrition intervention among parents and schools to maintain the children overall well-being.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#accordion1_2">
												2. What does this program offer?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            Our aim is to structure the nutrition program in schools thereby creating a healthy school environment. As the saying goes: “If you’re not assessing, you’re guessing.” Here, we are gathering, analyzing, and using data to make informed, outcome-based decisions. Hereby, we assess and evaluate student Dietary patterns and provide Student Nutrition Scoring, individual student Reports and by assessing the overall school health status etc. The objective of such Nutrition Program in school is to keep students healthy – both physically and emotionally, so they can perform better academically and in sports. It will lead to positive long term health effects by reducing the acute to chronic ailments amongst children later in life.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#">
												3. Why nutrition program in schools should be a part of school learning?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            Habits developed at this age lasts for life, also school is the right place where the right habits begin from. Through this program child learn to eat healthy with their peers, it helps to prevents childhood obesity, builds self-esteem, confidence and the child perform better in sports and other activities. This also ensures that nutrition education amongst children and parents create healthy nourished environment.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#">
												4. What are the major nutrition related issues seen among Students?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            Students generally have minor nutrition issues which may have complications if not prevented at an early age. The main nutrition issues include Underweight, overweight, obesity, vitamin and mineral deficiencies. Also, a major undetected issue is reduced protein intake, excess calorie intake through junk foods and processed foods, lactose intolerance, celiac disease, behavioral issues, hyperactivity, mood swings related to nutrition, etc.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#">
												5. What benefits does School get in organizing Student Nutrition Program?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            Schools has several benefits – improved attendance, increased attention span, children are more alert, show positive social behaviors, good immune health and more over a positive behavioral environment.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#"">
												6. How does Nutrition Score and Reports work?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            Alma Nourisher has designed a software, which automatically calculates the child nutrition scores based on individual dietary patterns and basic health parameters. The score gives fair idea of nutrition status of a child. The nutrition intervention provided to parents thereby help to improve the nutrition status of every child.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#">
												7. Can parents track their nutrition record of their child online?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            Yes, Alma Nourisher platform is digitized and the parents can track the health patterns of their child periodically. Schools can track the overall health status of children.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-faq">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
											<a href="#accordion1_7">
												8. How do you engage with preschools and schools?
											</a>
										</h4>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            The program is a continuous engagement with schools, simple yet cost effective covering assessments, parent interactions, workshops, consultations, recipes and articles. We do not intervene with the day today activities of the school.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END TAB 1 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /faq -->
    </div>
</section>
<!-- #content end -->
<script type="text/javascript">
    $(document).ready(function() {

        // MINOVATE.documentOnReady.init();
        setTimeout(function() { // You might need this timeout to be sure its run after DOM render.
            console.log("in directive");
            MINOVATE.documentOnReady.init();
            //MINOVATE.documentOnLoad.init();
        }, 1000);
    });
</script>
<style>    
    #content {
        position: relative !important;
        overflow: hidden;
        background-color: #FFF;
        z-index: 9;
        top: 0 !important;
        right: 0;
        bottom: 0;
        width: auto;
        left: 0 !important;
        padding-left: 0;
        padding-top: 0;
        z-index: 1;
    }    
    #breadcrumbs.breadcrumbs-sm h1 + span {
        display: block !important;
    }    
    #main-navbar ul li.active a {
        color: #444;
    }    
    #main-navbar ul li.active_faq a {
        color: #428bca;
    }
</style>