<!-- ============================================
        ==================== Footer =====================
        ============================================= -->
 <a class="side_sticky" target="_blank" href="http://my.setmore.com/bookingpage/7477472b-01cb-484c-8979-cdaf89e2f648" ><img src="assets/images/book-appoinment.png"></a> 

<footer>

    <div class="footer-main">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="widget widget-about">
                        <h4><strong>More </strong> Links</h4>
                        <p>
                            <ul class="list-type caret-right">
                                <li><a ui-sref="app.disclaimer"> Disclaimer </a></li>
                                <li><a ui-sref="app.privacypolicy"> Privacy Policy </a></li>
                                <li><a ui-sref="app.termsconditions"> Terms & Conditions </a></li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>Contact</strong> Us</h4>
                        <address>
                                    <strong>Headquarters</strong><br>
                                    Alma Nourisher Solutions Pvt. Ltd <br/>
									NSRCEL,IIM-Bangalore, <br>
                                    Bannergatta Road, Bangalore - 560076<br/>
                                </address>
                        <address>
                                    <strong>Phone:</strong> <a href="tel:08147359500">+91-8147359500</a><br>
                                    <strong>Email:</strong> <a href="mailto:info@almanourisher.com">info@almanourisher.com</a>
                                </address>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>Incubatee</strong> of</h4>
                        <p><img class="img-responsive" src="assets/images/nsrcel-logo.png"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-md-4 copyright">
                    <p class="mb-0">&copy; Copyright 2017 by <a href="#">Alma Nourisher</a>. All Rights Reserved.</p>
                    <p class="mb-0">Developed by <a href="http://rahulraj.work">Rahul Raj</a></p>
                </div>

                <div class="col-md-8 text-right text-center-md">

                    <a class="social-icon social-facebook" target="_blank" href="https://www.facebook.com/almanourisher1">
                        <div class="front">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-facebook"></i>
                        </div>
                    </a>

                    <a class="social-icon social-twitter" target="_blank" href="https://twitter.com/almanourisher">
                        <div class="front">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-twitter"></i>
                        </div>
                    </a>

                    <a class="social-icon social-linkedin" target="_blank" href="https://www.linkedin.com/company/alma-nourisher">
                        <div class="front">
                            <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-linkedin"></i>
                        </div>
                    </a>

                </div>

            </div>
        </div>
    </div>

</footer>
<!-- #footer end -->

</div>
<!-- #wrapper end -->

<style>
    #footer .footer-main {
        padding: 60px 0px 0px;
    }
</style>