<section id="breadcrumbs" class="breadcrumbs-sm">

	<div class="container clearfix">
		<h1>Recipe List</h1>
		
	</div>
</section>


<div class="page page-timeline">

    <!-- page content -->
    <div class="pagecontent">

        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12">

                <!-- tile -->
                <section class="tile tile-simple no-bg">

                    <!-- tile body -->
                    <div class="tile-body streamline timeline p-0">

                        <ul ng-repeat="(key,value) in recipeList" class="col-md-12">
                            <li class="heading"><a href="javascript:;" class="btn btn-greensea b-0" style="background:green;">{{key}}</a></li>
							
                            <li class="timeline-post" ng-repeat="a in value">
                                <aside>
                                    <div class="thumb wh30" style="background:#ccc;color:black">{{$index+1}}</div>
                                </aside>
                                <div class="post-container">
                                    <div class="panel panel-default b-0">
                                        <p class="text-left post_date" ng-if="$index%2===0" style="margin-bottom:0px">
                                            <span class="text-muted " ><i class="fa fa-calendar-o "></i> {{a.publishDate | date:'dd MMM yyyy'}}</span>
										</p>
                                        <p class="text-right post_date" ng-if="$index%2===1" style="margin-bottom:0px">
                                            <span class="text-muted " ><i class="fa fa-calendar-o "></i> {{a.publishDate | date:'dd MMM yyyy'}}</span>
										</p>
                                        <div class="media" style="margin-top:0px">
                                            <a class="pull-right"  ng-if="$index%2===0">
                                                <img class="media-object recipe_img" src="assets/images/document/{{a.icon}}" alt="Image ">
                                            </a>
                                            <a class="pull-left"  ng-if="$index%2===1">
                                                <img class="media-object recipe_img" src="assets/images/document/{{a.icon}}" alt="Image ">
                                            </a>
                                            <div class="media-body">
                                                <article class="post-entry ">

                                                    <h3 class="article_title_link"><a ui-sref="app.recipesDetailP({'recipeName':a.seoheading})">{{a.heading}}</a></h3>
                                                    <p>{{a.description}}</p>
                                                    <p>
                                                        <span class="text-muted"><i class="fa fa-eye "></i> {{a.views}}</span>
                                                        <span class="text-muted like_view_space"><i class="fa fa-thumbs-up "></i> {{a.likes}}</span>
                                                    </p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- /tile body -->

                </section>
                <!-- /tile -->

            </div>
            <!-- /col -->
        </div>
        <!-- /row -->

    </div>
    <!-- /page content -->

</div>

<style>
    .like_view_space {
        margin-left: 15px;
    }
    .mb_20 {
        margin-bottom: 20px;
    }
    
    .streamline.timeline ul .timeline-post .thumb {
        font-size: 13px;
    }
    
    .post_date {
        font-size: 12px;
        line-height: 1.5;
    }
    .appWrapper.header-fixed.aside-fixed #content {
	    position: relative;
	    top: 0;
	    left: 0;
	}
	#main-navbar ul li.active a {
        color: #444;
    }    
    #main-navbar ul li.active_recipe a {
        color: #428bca;
    }
</style>